:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f172a;
  background: #f3f7ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text: #01142e;
  --text-h: #0f172a;
  --border: #000;
  --shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../public/assets/indian-flag.jpg');
  /* background: url('../public//assets//indian-flag.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: #f3f7ff; */
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}